.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #F0EDED;
	padding-top: 30px;
	padding-bottom: 12px;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;

}

.aFooter {
	position: fixed;
	bottom: 14px;
	color: #707070;
	padding-left: 30px; /* 5% */
	font-size: small;
	font-family: arial,sans-serif;
	text-decoration: none;
}

.aFooter:hover {
	text-decoration: underline;
}


.bFooter {
	position: fixed;
	bottom: 14px;
	color: #707070;
	padding-left: 125px; /* 10% */
	font-size: small;
	font-family: arial,sans-serif;
	text-decoration: none;
}

.bFooter:hover {
	text-decoration: underline;
}


.abFooter {
	position: fixed;
	bottom: 14px;
	color: #707070;
	padding-left: 208px;
	font-size: small;
	font-family: arial,sans-serif;
	text-decoration: none;
}

.abFooter:hover {
	text-decoration: underline;
}

.pFooter {
	position: fixed;
	bottom: 14px;
	color: #707070;
	padding-left: 1200px;
	font-size: small;
	font-family: arial,sans-serif;
	text-decoration: none;
}

.pFooter:hover {
	text-decoration: underline;
}

.tFooter {
	position: fixed;
	bottom: 14px;
	color: #707070;
	padding-left: 1273px;
	font-size: small;
	font-family: arial,sans-serif;
	text-decoration: none;
}

.tFooter:hover {
	text-decoration: underline;
}

.sFooter {
	position: fixed;
	bottom: 14px;
	color: #707070;
	padding-left: 1341px;
	font-size: small;
	font-family: arial,sans-serif;
	text-decoration: none;
}

.sFooter:hover {
	text-decoration: underline;
}

#googleLogo {
	position: absolute;
	right: 40%;
	top: 27%;
	width: 20%;
}

input[type=submit] {
	background-color:#F3F3F3;
	color:#363636;
	outline-color:blue;
	outline-width:2px;
}

input[type=text] {
	outline-width:2px;
}

#searchBar {
	position: fixed;
	width: 500px;
	bottom: 328px;
	left: 430px;
}
.searchBar1 {
	width: 570px;
	height: 22px;
	background: url('data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5BAEAAAcALAAAAAAcACYAAAO9eLpMIMYIQJi9DcYtKv6KtnHgB4yoAZSXKAyDy1rjoAzjzOQLrx8+4OanCAZnxiExGSEKmz3lj2lwUq3SZ3WZPbKuXGgxu9t4tLYDTkpIRQILF0x2G4lWipM7gj/oJQUkcXsCDCIFATULBCIcZ2tvB3QLDxETFnR/BgU/gRt9jX0gnpYMkJZpFzEoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs=') no-repeat right;
	background-size: 14px 19px; 
	display: inline-block;
}

#searchButton {
	position: fixed;
	width: 200px;
	bottom: 280px;
	left: 600px;
}
.searchButton1 {
	width: 100px;
	height: 27px;
	font-weight: bold;
}

#feelingLucky {
	position: fixed;
	width: 200px;
	bottom: 280px;
	left: 710px;
}
.feelingLucky1 {
	width: 130px;
	height: 27px;
	font-weight: bold;
}


.header {
	position: fixed;
	top: px;
	width: 100%;
	background-color: #F0EDED;
	padding-bottom: 30px;
	padding-top: 12px;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;

}

